body {
  font-family: "Roboto", sans-serif;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  border-right: 2px solid #000;
}

.nav__title {
  text-align: center;
}

.nav__list {
  list-style: none;
  padding: 0;
}

.nav__list-item {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #000;
  padding-left: 10%;
}

.nav__link {
  text-decoration: none;
  color: #000;
}

.main {
  margin-left: 21%;
}

@media only screen and (max-width: 480px) {
  body {
    color: red;
  }
}
